---
layout: default
---

<div class="home">

  <h2>Current Projects</h2>

  <div class="current-projects">
    <a href="/projects/mushroom-cabal/"><img src="/projects/mushroom-cabal/screenshot-thumb.png"></a>
    <a href="/projects/domestar/"><img src="/projects/domestar/cc2016-01-thumb.jpg"></a>
    <a href="/projects/linkfilter/"><img src="/projects/linkfilter/screenshot-thumb.png"></a>
  </div>

  <h2>Recent Thoughts</h2>

  {% for post in site.posts limit:3 %}
    {% include excerpt.html %}
  {% endfor %}

  <a href="/posts">Archives</a>
</div>
